*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Hier können Stiele für die ganze Webseite angegeben werden. */
body {
    margin: 20;
}

/* Hier werden 2 Elemente nebeneinander gepackt.
   Mit `display: flex;` können wir angeben in welche Richtung alle Kinder von
   einem Element ausgerichtet werden. Wählen wir `flex-direction: row`, dann
   werden Sie alle mit gleich viel Platz in einer Reihe nebeneinander platziert.
   Mit `flex-direction: column` werden Sie untereinander platziert. Das reicht
   um die meisten Elemente gut zu platzieren.
*/
.text-and-img {
    display: flex; /* Richtet die Elemnte in einer Zeile oder Reihe aus. */
    flex-direction: row; /* In einer Reihe ausgerichtet. */
    gap: 1rem; /* Abstand zwischen den Elementen.*/
    align-items: center; /* Ausrichtung in der Mitte entlang der anderen Achse. */
    justify-content: center; /* Ausrichtung in der Mitte entlang der Hauptachse */
    margin: 1rem; /* Abstand auf allem Seiten. */
}

/* Diese Regel beschreibt wie Bilder in diesem Container dargestellt werden. */
.text-and-img img {
    border-radius: 2rem; /* Damit können die Ecken abgerundet werden. */
    width: 100%; /* Braucht es damit das Bild im Container bleibt und nicht viel zu gross ist. */
}

.bg-red {
    background-color: rgba(206, 132, 180, 0.282);
    padding: 2rem;
    border-radius: 1rem;
    border: 5px dotted rgb(2, 209, 250);
    margin: 10px;
    text-align: center;
}

.bg-blue {
    background-color: rgb(249, 188, 240);
    padding: 1rem;
    border-radius: 2rem;
    border: 5px dotted rgb(246, 4, 217);
    text-align: center;
}

.bg-yellow {
    background-color: rgb(216, 146, 252);
    padding: 1rem;
    border: 5px dotted rgb(52, 2, 250);
    text-align: center;
    border-radius: 2rem;
    font-size: large;
}
.bg-white {
    background-color: rgb(249, 188, 240);
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    font-size: large;
}
